/****/
/* line 4, ../sass/sliderlayer.scss */
.gavias_layerslider {
  background: #f1f1f1;
}

/* line 7, ../sass/sliderlayer.scss */
.layer-style-image {
  display: inline-block;
}
/* line 9, ../sass/sliderlayer.scss */
.layer-style-image img {
  max-width: 100% !important;
  height: auto !important;
}

/* line 15, ../sass/sliderlayer.scss */
.gavias_sliderlayer .tp-caption, #gavias_slider_single .tp-caption {
  font-family: "Hind", serif !important;
  z-index: 99;
}
/* line 20, ../sass/sliderlayer.scss */
.gavias_sliderlayer .sub-title, #gavias_slider_single .sub-title {
  font-family: "Hind";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  color: #fff;
}
/* line 30, ../sass/sliderlayer.scss */
.gavias_sliderlayer .sub-title:after, #gavias_slider_single .sub-title:after {
  content: "";
  width: 5px;
  height: 100%;
  background: #cf0000;
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 99;
}
/* line 41, ../sass/sliderlayer.scss */
.gavias_sliderlayer .big-text, #gavias_slider_single .big-text {
  color: #fff;
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0;
  font-family: "Hind", serif;
  text-transform: uppercase;
}
/* line 51, ../sass/sliderlayer.scss */
.gavias_sliderlayer .medium-text, #gavias_slider_single .medium-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  font-family: "Hind", serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}
/* line 57, ../sass/sliderlayer.scss */
.gavias_sliderlayer .medium-text:after, #gavias_slider_single .medium-text:after {
  width: 80px;
  height: 1px;
  background: #fff;
  content: "";
  bottom: 0;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  z-index: 1;
}
/* line 67, ../sass/sliderlayer.scss */
.gavias_sliderlayer .medium-text.left:after, #gavias_slider_single .medium-text.left:after {
  left: 0;
  margin-left: 0;
}
/* line 72, ../sass/sliderlayer.scss */
.gavias_sliderlayer .small-text, #gavias_slider_single .small-text {
  font-size: 16px;
  color: #fff;
}
/* line 76, ../sass/sliderlayer.scss */
.gavias_sliderlayer .btn-slide, #gavias_slider_single .btn-slide {
  background: #cf0000;
  font-size: 14px;
  text-transform: uppercase;
  backface-visibility: hidden;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  color: #fff;
  padding: 6px 18px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
}
/* line 92, ../sass/sliderlayer.scss */
.gavias_sliderlayer .btn-slide:hover, #gavias_slider_single .btn-slide:hover {
  background: #fff;
  color: #000;
  background: #fff;
}
/* line 99, ../sass/sliderlayer.scss */
.gavias_sliderlayer .gavias-overlay:after, #gavias_slider_single .gavias-overlay:after {
  content: "";
  background: url(../imagesgrid-slide.png) repeat rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 110, ../sass/sliderlayer.scss */
.gavias_sliderlayer .tp-bullets, #gavias_slider_single .tp-bullets {
  margin-left: -40px;
}
/* line 112, ../sass/sliderlayer.scss */
.gavias_sliderlayer .tp-bullets .tp-bullet, #gavias_slider_single .tp-bullets .tp-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #CCCCCC;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
}
/* line 117, ../sass/sliderlayer.scss */
.gavias_sliderlayer .tp-bullets .tp-bullet:last-child, #gavias_slider_single .tp-bullets .tp-bullet:last-child {
  margin-right: 0 !important;
}
/* line 120, ../sass/sliderlayer.scss */
.gavias_sliderlayer .tp-bullets .tp-bullet.selected, #gavias_slider_single .tp-bullets .tp-bullet.selected {
  background: #cf0000;
}
